<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Edit Product
<form action="@{/products/add-product}" method="post" th:object="${products}">
    <input type="hidden" th:field="*{id}" />
    <label><input type="text" name="productName" placeholder="Product Name" required /></label><br/>
    <label><input type="text" name="category" placeholder="Category" required /></label><br/>
    <label><input type="number" name="price" placeholder="Price" required /></label><br/>
    <label><input type="number" name="quantity" placeholder="Quantity" required /></label><br/>
    <button type="submit">Edit Product</button>
</form>
</body>
</html>